.advantage__list-btn {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 54px;
}
.advantage__item {

}

.advantage__button {
    width: 180px;
    height: 47px;
    background-color: #68B7FF;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    transition: background-color .36s ease-in-out,
                border-color .36s ease-in-out;
}

.advantage__button_active {
    background-color: #1C88EB;
    border-color: #1C88EB;
}

.advantage__button:hover {
    border-color: #1C88EB;
}

.advantage__button:active {
    background-color: #1C88EB;
    border-color: #1C88EB;
}

.advantage__button:disabled {
    background-color: #F5F5F5;
}

.advantage__list-content {

}
.advantage__item-content {
    display: none;
    gap: 40px;
    max-width: 640px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
}

.advantage__item-content_active {
    display: flex;
}

.advantage__item-content::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
}

.advantage__item-content_convenience:before {
    background-image: url(../../images/convenience.svg);
}

.advantage__item-content_speed:before {
    background-image: url(../../images/speed.svg);
}
.advantage__item-content_quality:before {
    background-image: url(../../images/quality.svg);
}
.advantage__item-content_security:before {
    background-image: url(../../images/security.svg);
}